html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    /*========== Colores ==========*/
    --title-color: #171717;
    --text-color: #71717A;
    --text-color-light: #A6A6A6;
    --body-color: #F8FAFC;
    --container-color: #F8FAFC;
    --content-color: #E5E5E5;

    /* 600, 800, 900 */
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    /* background: url('https://images.unsplash.com/photo-1648814172004-b79ccc9757f4?q=80&w=2000'); */
    background: url('https://e3.365dm.com/23/11/2048x1152/skynews-uk-weather-rainbow_6375407.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.6rem;
    font-family: "Raleway", sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ====== ====== ====== ASIDE ====== ====== ======  */
.aside {
    min-height: 100%;
}

/* ====== ====== ====== CURRENT WEATHER ====== ====== ======  */

.current-weather{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
    padding-block: 3rem;
    padding-inline: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather__place {
    text-align: center;
}

.current-weather__date {
    margin-block-start: 0.8rem;
}

.current-weather__temp {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
}

.current-weather__minmax {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-block-start: 1.6rem;
    font-size: 1.8rem;
}

.current-weather__icon {
    max-width: 12rem;   
}

.current-weather__data {
    margin-block-start: 6rem;
}

.current-weather__description {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-block-end: 3rem;
}

.current-weather__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-inline: 4rem;
}

.current-weather__item {
    font-size: 1.8rem;
}

.current-weather__item span{
    display: inline-block;
    min-width: 12rem;
}

.current-weather__item strong {
    font-size: 2rem;
}

.current-weather__toggle {
    margin-block-start: 6rem;
}

.toggle-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather__search {
    margin-block-start: 4rem;
    width: 100%;
}

.current-weather__search button{
    border-radius: 0.4rem;
    border: none;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 1.2rem;
    font-size: 1.6rem;
    color: var(--text-color);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
}

.current-weather__search button:hover{
    color: var(--title-color);
}

/* ====== ====== ====== MAIN ====== ====== ======  */
.main {
    flex: 1;
    display: flex;
    justify-content: center;
}



@media (min-width: 768px){

    .content {
        flex-direction: row;
    }

    .aside {
        min-width: 40rem;
    }

    .current-weather__place {
        font-size: 2.5rem;
    }

    .current-weather__icon {
        max-width: 100%;  
    }

    .current-weather__temp {
        font-size: 6rem;
    }

    .current-weather__toggle {
        margin-block-start: 10rem;
    }

    .current-weather__toggle label {
        font-weight: 600;
    }

    .modal__children {
        min-width: 40rem;
    }
}